<div class="row">
    <div class="columns container">
        <div class="jumbotron text-center">
            <h1 class="display-3">Welcome to ChessApp</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus mauris eget dictum tempor. Maecenas tempor dignissim ligula fringilla facilisis.
            </p>
            <!--<%= link_to 'Create Game', new_game_path, class: 'btn btn-primary btn-lg' %>-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newGameModal">
            Create Game
            </button>
        </div>

        

        <!-- Modal -->
        <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newGameModalLabel">Create a New Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%= simple_form_for Game.new do |f| %>
                <div class="modal-body">
                    
                        <%= f.input :name, label: 'Name Your Game' %>
                        
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <%= f.submit 'Create Game', class: 'btn btn-primary' %>
                </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns container col-sm-12 col-lg-6 col-lg-offset-3">
        <h1>All Games</h1>
        <% @games.each do |game| %>
            <div class="card">
                <div class="card-block row align-items-center">
                    <div class="columns mr-auto">
                        <strong><%= game.name %></strong> Created at: <%= game.created_at.strftime("%m-%d-%Y") %>
                    </div>
                    <div class="columns">
                        <%= link_to 'Show Game', game_path(game), class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
            <br />
        <% end %>
    </div>
</div>


