<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="display-3">Play Chess Online</h1>
                <p class="lead">
                    Create a game and play with a friend.<br />Can't wait? Join an open game to play now.
                </p>
                <!-- Button trigger modal -->
                <% if current_user %>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newGameModal">
                    Create Game
                    </button>
                <% else %>
                    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                <% end %>
            </div>
            <div class="col-12 col-lg-4">
                <%= image_tag "knight.svg", class: 'hero-img' %>
            </div>

        </div>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="display-4 text-center">Available Games</h2>
            <br />
        </div>
    </div>
    <div class="row">
        <% @games.available.each do |game| %>
            <div class="col-12 col-md-2 col-lg-4">
                <div class="available-games card text-center">
                    <div class="card-block">
                        <h4><%= game.name %></h4>
                        <p>Created at: <%= game.created_at.strftime("%m-%d-%Y") %></p>
                        <% if current_user %>
                            <%= button_to 'Join Game', game_path(game), params: { :black_player_id => current_user.id }, method: :patch, :action => "update", class: 'btn btn-primary' %>
                        <% else %>
                            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

