<!DOCTYPE html>
<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'ChessApp', root_path, class: 'navbar-brand' %>
        <%= link_to 'RSS', 'http://rss.uptimerobot.com/u453056-310386fab8b9f430319f7a3c09f51f4a', class: 'nav-link' %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li>
              <!--Left Nav will go here-->
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if current_user %>
              <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Devise Flash Messages -->
    <% if notice.present? %>
      <div class="alert alert-info text-center" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger text-center" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
