<!DOCTYPE html>
<html>
  <head>
    <title>The Corresponding Squares</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '153603811855072',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

    <div class="content">
      <nav class="navbar navbar-toggleable-md navbar-light navbar-bg">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <%= link_to 'The Corresponding Squares', root_path, class: 'navbar-brand' %>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li>
                <!--Left Nav will go here-->
              </li>
            </ul>
            <ul class="navbar-nav">
              <% if current_user %>
                <li>
                  <%= link_to 'My Dashboard', dashboards_path, class: 'btn btn-outline-primary' %>
                </li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Devise Flash Messages -->
      <% if notice.present? %>
        <div class="alert alert-info text-center" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger text-center" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <div class="row align-items-center">
          <div class="col"><strong><%= link_to 'The Corresponding Squares', root_path, class: 'navbar-brand' %></strong></div>
          <div class="col text-right">
            <%= link_to 'https://github.com/TheCorrespondingSquares/chess-app', class: 'navbar-brand' do %>
              View on Github&nbsp;<%= image_tag "github-mark.svg" %>
            <% end %>
            </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>